//
// Definition that Airsonic tries to treat as "default".
// (@see default-without-mediaelement.css)
//

* {
  outline-color:  $jp-color-complementary3;
}

.headerSelected {
  border-bottom: 3px solid $jp-color-complementary3; // one-off-border
}

// Put stuff here if you need to customize any of the frames.
.mainframe {
  padding-left: 1em;
}

.topframe::-webkit-scrollbar:vertical {
  display: none
}

.leftframe::-webkit-scrollbar:horizontal {
  display: none
}

body {
  color: $jp-color-black;
}

// The secondary foreground color used for h1, h2, details etc (gray).
h1, h2, .detail, .albumComment {
  color: $jp-color-dark-gray;
}

// Foreground color used for bold and tr.
b, tr {
  color: $jp-color-black;
}

// Link color
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
  color: $jp-color-base4;
}

// Link hover color
a:hover, a:hover * {
  color: $jp-color-complementary3;
  text-decoration: underline;
}

// Disabled links color and behavior
a.disabled, a.disabled span, span.disabled {
  cursor: default;
  color: $jp-color-light-gray;
  text-decoration: none;
}

// Player controls
a.player-control:hover {
  text-decoration: none;
}

// Color for warning messages.
.warning {
  color: $jp-color-alert;
}

// Scrollbar colors (supported on IE and Opera) */

//body {
//  scrollbar-face-color: #DEE3E7;
//  scrollbar-highlight-color: #FFFFFF;
//  scrollbar-shadow-color: #DEE3E7;
//  scrollbar-3dlight-color: #D1D7DC;
//  scrollbar-arrow-color: #006699;
//  scrollbar-track-color: #EFEFEF;
//  scrollbar-darkshadow-color: #98AAB1;
//}

body {
  scrollbar-face-color:   #DEE3E7;
  scrollbar-shadow-color:   #DEE3E7;
  scrollbar-track-color:   #EFEFEF;
  scrollbar-highlight-color:   $jp-color-white;
  scrollbar-3dlight-color:   $jp-color-white;
  scrollbar-arrow-color:   $jp-color-white;
  scrollbar-darkshadow-color: $jp-color-white;
  scrollbar-face-color:   #DEE3E7;
  scrollbar-highlight-color:   $jp-color-white;
  scrollbar-shadow-color:   #DEE3E7;
  scrollbar-3dlight-color:   #D1D7DC;
  scrollbar-arrow-color:   $jp-color-base4;
  scrollbar-darkshadow-color: #98AAB1;
}

// Login page */

#loginframe {
  display: list-item;
  list-style: none;
  margin: 100px 50px;
  padding: 20px 50px;
  text-align: center;
}

#loginframe > * {
  display: block;
  margin: 0 auto;
}

#loginframe .loginmessagetop {
  max-width: 30em;
  margin-bottom: 1em;
}

#loginframe input[type=text],
#loginframe input[type=submit],
#loginframe input[type=password] {
  width: 20em;
  margin-bottom: 0.5em;
  &:hover {
      width: 20em;
  }
}

#loginremember {
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
}

#loginframe .loginmessagebottom {
  max-width: 50em;
  margin-top: 1em;
}

// ***************************************************************************************
// * The rest of the CSS is typically not changed in other themes (but not necessarily so).
// ***************************************************************************************

body {
  line-height: 1.5em;
  margin:0.75em;
  padding:0;
  @include border(zero);
  font-family: $jp-font-family;
  font-size: 10pt;
}

p {
  margin:0 0 1em 0;
  padding:0;
  @include border(zero);
}

.dense {
  margin: 0;
  white-space: nowrap;
  line-height: 1.5em;
}

h1 {
  margin: 0;
  padding: 0;
  @include border(zero);
  font-size: 150%;
  white-space: nowrap;
}

h2 {
  margin: 0.8em 0 0.2em 0;
  font-size: 108%;
  white-space: nowrap;
}

form {
  margin: 0;
  padding: 0;
  @include border(zero);
  font-size: 100%;
  line-height: 140%;
}

#loginframe input[type=text],
#loginframe input[type=submit],
#loginframe input[type=password] {
  box-sizing: border-box;
  &:focus {
    box-sizing: border-box;
  }
}

input, textarea, select {
  outline: none;
  padding: 3px;
  @include border(input);
  @include borderRadius(input);
  background: $jp-color-white;
  font-size: 90%;
  vertical-align: middle;
  &:focus {
    @include transition;
    outline: none;
    padding: 2px;
    @include border(input-focus);
    background: $jp-color-complementary1;
  }
}

input[type=submit], input[type=button] {
  @include blockLink($jp-color-base4, $jp-color-white);
}

input[type=checkbox] {
  @include border(zero);
}

label {
  font-size: 100%;
  line-height: 140%;
}

table {
  margin: 0 0 0.4em 0;
  padding: 0;
  @include border(zero);
  font-size: 100%;
  line-height: 140%;
}

// Table with some white space above it.*/
table.indent {
  margin: 1em 0 0.4em 0;
}

table.music {
  width: 99%;
  margin-top: 1em;
  margin-bottom: 1em;
  @include border;
  @include borderRadius;
  border-collapse: separate;
  border-spacing: 0;
}

td.fit {
  width: 1px;
  padding-left: 4px;
  padding-right: 4px;
  fill: currentColor;
}

td.truncate {
  overflow:hidden;
  max-width:50px;
  padding-left:10px;
  padding-right:10px;
  text-overflow:ellipsis;
  white-space: nowrap;
}

td.rightalign {
  padding-right: 20px;
  text-align:right;
}

a {
  font-size: 100%;
  text-decoration: none
}

img {
  margin: 0;
  padding: 0;
  border-style: none;
  @include border(zero);
  vertical-align: middle;
}

.monospace {
  font-family: monospace;
}

.dropshadow {
  box-shadow: 2px 2px 6px $jp-color-black;
}

.shadow {
  box-shadow: 0 0 20px 3px $jp-color-dark-gray;
}

.coverart, #nowPlaying img {
  @include borderRadius;
  background-color: $jp-color-white;
  color: $jp-color-dark-gray;
}

.coverart img {
  @include borderRadius;
}

.coverart .caption1 {
  overflow:hidden;
  padding:6px 8px 4px 8px;
  font-weight: 300;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height: 100%;
}

.coverart .caption1 a:link, .coverart .caption1 a:visited  {
  color: $jp-color-black;
}

.coverart .caption2 {
  overflow:hidden;
  padding:0 8px 5px 8px;
  color: $jp-color-dark-gray;
  font-weight: 300;
  font-size: 90%;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height: 100%;
}

.coverart .caption3 {
  overflow:hidden;
  padding:0 8px 5px 8px;
  color: $jp-color-dark-gray;
  font-weight: 300;
  font-size: 90%;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  @include borderRadius;
  background: $jp-color-mask-gray;
}

.header, .headerSelected {
  width: 23px;
  height: 23px;
  padding-top: 3px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  vertical-align: middle;
}

.similar-artist-divider {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.detail {
  font-size: 90%;
  white-space: nowrap;
  line-height: 1.25em;
}

.songTitle {
  font-style: italic;
}

.topHeader, .topHeader a {
  margin: 0;
  padding: 0.15em 0 0 0;
  @include border(zero);
  font-size: 102%;
  white-space: nowrap;
}

.back, .forward {
  padding-left: 12px;
  background-position:center left;
  background-repeat:no-repeat;
  line-height: 16px;
}

.back {
  background-image:url("../icons/default_light/back.png");
}

.forward:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image:url("../icons/default_light/chevron.svg");
  background-size: 16px 16px;
  vertical-align: -20%;
  content: "";
}

.albumComment {
  width: 50em;
  padding-top: 0.25em;
  font-size: 90%;
  line-height: 1.4em;
}

.albumThumb {
  display:inline-block;
  padding-bottom: 20px;
  padding-right: 20px;
  vertical-align: top;
}

.albumOverflowButton {
  display:inline-block;
  margin-left:15px;
  margin-bottom:20px;
  vertical-align:bottom;
  cursor:pointer;
}

.log {
  background-color: $jp-color-base1;
  font-size: 90%;
  white-space: nowrap;
  line-height: 1em;
}

// Table with simple lines between the cells.
.ruleTable {
  border-collapse: collapse;
}

.ruleTableHeader, .ruleTableCell {
  margin: 5px;
  padding: 5px;
}

.ruleTableHeader {
  background-color: $jp-color-base1;
}

.context-menu-item {
  color: $jp-color-black;
}