//
// The following are additional definitions of Jpsonic.
// Basically, the correction was made with the display in a language
// that requires more display width than English in mind.
//

// ******************** Overall *******************************************

html {
  background: $jp-color-base1;
}

.bgcolor2, .ruleTableHeader, .log, .bgcolor2 {
  background-color: $jp-color-base1;
}

.mainframe {
  h1 {
    margin-bottom: 0.8rem;
  }
  h2 {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    text-align: middle;
    >img {
      height: 25px;
    }
  }
} 

// div.bgcolor1
.mainframe.bgcolor1 {
  margin: 0 4px 0 4px;
  padding: 1rem;
  @include border;
  @include borderRadius(left);
  background-color: $jp-color-white;
}

// div.bgcolor1/leftView.jsp
div.bgcolor1 {
  margin: 0;
  padding: 4px 0 4px 0;
  @include border;
  @include borderRadius;
  background-color: $jp-color-white;
  line-height: 1.8rem;
  a {
    display: inline-block;
    margin: 0.1em 0.1em 0.1em 0.5rem;
    padding: 1px;
    @include blockLink($jp-color-base1, $jp-color-base4);
    min-width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%; // one-off-border-radius
    font-weight: 500;
    text-align: center;
    // letter-spacing: 3px;
    line-height: 1.7rem;
    &:focus, &:active {
      padding: 0;
    }
  }
}

// table.bgcolor1
table.bgcolor1 {
  @include border(other-than-top);
  @include borderRadius(upper);
  background-color: $jp-color-base3;
}

// table.bgcolor2
.bgcolor2.topframe {
  table {
    td {
      img {
        padding: 0 0.9em 0 0.9rem;
      }
      a {
        font-size: 0.85rem;
      }
    } 
  }
}

// h2 in left.jsp It is difficult to understand, so please rewrite if possible. >> 
h2.bgcolor1 {
  margin: 10px 0 0 0;
  padding: 0.5em 0 0.5rem;
  background-color: $jp-color-base3;
  @include borderRadius(upper);
  @include border(other-than-top);
  color: $jp-color-white;
}

table.bgcolor1 h2 {
  display: inline-block;
  margin-top: 10px;
  min-width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%; // one-off-border-radius
  background: $jp-color-base1;
  color: $jp-color-base4;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.3rem;
}
// h2 in left.jsp <<

// ******************** playlistframe/playQueue.jsp ***********************

.bgcolor2.playlistframe {
  margin: 0;
  padding: 0;
  @include border;
  @include borderRadius(upper);
  background-color: $jp-color-base3;
  h2 {
    padding: 0;
    color: $jp-color-white;
  }
}

// ******************** rightframe/right.jsp ******************************

body.bgcolor1.rightframe {
  margin: 0 4px 0 4px;
  padding: 0.5rem;
  background-color: $jp-color-white;
  .detail {
    white-space: normal;
  }
}

// ******************** dense/albumMain.jsp, left.jsp, playQueue.jsp ******

p.dense {
  overflow: hidden;
  min-width: 200px;
  height: 1.7rem;
  margin: 0;
  padding: 0.1em 0 0.1em 0;
  @include border(other-than-top);
  background: $jp-color-white;
  font-size: 0.85rem;
  line-height: 1.5rem;
  &:hover {
    background-color: $jp-color-mask-light-gray;
  }
  img {
    height: 18px;
  }
}

p.dense.last {
  @include borderRadius(lower);
}

///////////////////////////////////////////////////////////////////////////

//
// The following is a rewrite of the definition specified
// as "The rest of the CSS is typically not changed in other themes"
// in default-without-mediaelement.css, or Jpsonic's own addition.
// Jpsonic has added columns for composers and genres, and added headers.
// Redundant additional definitions were needed to account for these and display widths.
//

// ******************** log/help.jsp **************************************


table.log.indent {
  table-layout: fixed;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include border;
  @include borderRadius;
  border-collapse: separate;
  border-spacing: 0;
  word-wrap: break-word;
  td {
    font-size: 0.4rem;
    white-space: normal;
    word-wrap: break-word;
  }
  tr:nth-child(even) {
    background-color: $jp-color-mask-light-gray;
  }
}

// ******************** / *************************************************

table.music.indent {
  width: 99%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include border;
  @include borderRadius;
  border-collapse: separate;
  border-spacing: 0;
}

// ******************** music/Overall *************************************

// The class name music is used, probably due to the influence of the initial design.
// But in practice many tables rely on this definition.
// Currently, the following definitions have a common definition role
// that affects many tables on the entire Web screen.
// Later versions may inherit this and add optimized settings to each table.

// table.music (most used)
table.music {
  thead {
    tr {
      &:first-child{
        th {
          &:first-child {
            @include borderRadius(upper-left);
          }
          &:last-child {
            @include borderRadius(upper-right);
          }
        }
      }
    }
    th {
      padding-left: 0.3rem;
      @include border(bottom);
      background-color: $jp-color-base1;
      color: $jp-color-base4;
      text-align: left;
      &:first-child {
        @include borderRadius(upper-left);
      }
      &:last-child {
        @include borderRadius(upper-right);
      }
    }
  }
  tbody {
    td {
      padding: 0.3rem;
      @include border(bottom);
    }
    tr {
      @include border(bottom-zero);
      &:last-child {
      td {
          @include border(bottom);
        }
      }
      &:last-child{
        th, td {
          @include border(bottom-zero);
        }
        th {
        &:first-child {
            @include borderRadius(lower-left);
          }
        &:last-child {
            @include borderRadius(lower-right);
          }
        }
      }
    }
  }
}

// .bgcolor2.playlistframe table.music (playqueue)
.bgcolor2.playlistframe {
  table.music.indent {
    margin: 10px;
    background-color: $jp-color-white;
    tbody {
      tr {
        @include border(bottom-zero);
        background-color: $jp-color-white;
        td {
          padding: 0.3rem;
          @include border(bottom);
        }
        &:last-child {
          td {
            @include border(bottom-zero);
            background-color: $jp-color-white;
          }
        }
      }
    }
  }
}

// Highlight a row on hover
table.music, .bgcolor2.playlistframe table.music.indent {
  tbody {
    tr {
        &:hover {
          background-color: $jp-color-mask-light-gray;
        }
    }
  }
}

// Tweaks
.mainframe.bgcolor1 {
  table {
    tbody {
      td {
        &:first-child {
          padding-right: 20px;
        }
        a:not(.fancy) {
          img { // refresh, random , etc./home.jsp
            // width: 18px;
            height: 18px;
            @include imageLink;
          }
        }
      }
    }
  }
  table.music {
    tbody {
      td {
        padding-right: 0.3rem;
      }
    }
  }
  table.music.playlist thead th, table.music tbody tr td {
    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }
}

// ******************** ruleTable/editTags.jsp ****************************
//                                error.jsp,
//                                help.jsp,
//                                internalHelp.jsp,
//                                playerSetting.jsp,
//                                status.jsp

// Following music class, this class has a great impact.
// Currently this definition has a common definition role that affects many tables across the web screen.
// Also, unlike music class, each table has variations.
// Later versions may inherit this and add optimized settings to each table.

table.ruleTable.indent {
  @include border;
  @include borderRadius;
  border-collapse: separate;
  border-spacing: 0;
  tbody {
    tr {
      @include border(bottom-zero);
      td {
        padding: 0.3rem;
        @include border(bottom);
      }
      &:first-child{
        td {
          &:first-child {
            @include borderRadius(upper-left);
          }
          &:last-child {
            @include borderRadius(upper-right);
          }
        }
      }
      &:last-child{
        @include border(bottom-zero);
        td {
          @include border(bottom-zero);
          &:first-child {
            @include borderRadius(lower-left);
            }
          &:last-child {
            @include borderRadius(lower-right);
          }
        }
      }
    }
  }
}

// ******************** truncate/search.jsp *******************************

// The following specifications specify the special width of truncate.
// In conventional search screens, the column widths are not uniform among multiple tables,
// making it difficult to see. Jpsonic has improved this.
// Since the displayed columns differ depending on the settings,
// dedicated script processing is required for full-scale implementation.
// Jpsonic does not do such complicated processing and avoids it with simple CSS.

.truncate.mainTitle{min-width:20rem;width:30%;}
//.truncate.mainAlbum{}
//.truncate.mainArtist{}
//.truncate.mainComposer{}
.truncate.mainGenre{min-width:6rem;}
.truncate.playlistTitle    {min-width:20rem;width:30%;}
//.truncate.playlistAlbum    {}
//.truncate.playlistArtist  {}
//.truncate.playlistComposer  {}
.truncate.playlistGenre    {min-width:6rem;}
.truncate.searchAlbumAlbum{max-width:45%;width:45%;}
.truncate.searchAlbumAlbumartist1{max-width:36%;width:36%;}
.truncate.searchAlbumAlbumartist2{max-width:18%;width:18%;}
.truncate.searchSongTitle{max-width:25%;width:25%;}
.truncate.searchSongAlbum{max-width:20%;width:20%;}
.truncate.searchSongArtist{max-width:18%;width:18%;}
.truncate.searchSongComposer{max-width:18%;width:18%;}

// ******************** artistInfoTable/artistMain.jsp ********************

// Biography.
table.artistInfoTable {
  width: 80%;
  margin: 0 auto;
  @include border;
  @include borderRadius;
  border-collapse: separate;
  border-spacing: 0;
  line-height: 2rem;
}

// ******************** domestic ******************************************

// Icon indicating addition of Jpsonic function
.domestic {
  width: 18px;
  height: 18px;
}

// ******************** image link ****************************************

// Apply effects to clickable images
// Measures are taken on the no-effected image in Airsonic

.bgcolor2.topframe a img, // Home, Playing...
table.music td.fit img, // Album table
.mainframe.bgcolor1 div.detail img, // Album detail
.mainframe h1 img#starImage, // Star of title
.mainframe.bgcolor1>div>a:not(.fancy)>img // list/tile switch
{
  @include imageLink;
}

.leftframe table.bgcolor1 th a img { // index
  @include imageLink(false);
}

// ******************** checkbox ******************************************

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  @include border(input);
  background: $jp-color-white;
  &:checked, &:indeterminate {
    background:$jp-color-base3;
  }
  &:disabled {
    background: $jp-color-medium-gray;
  }
  &:focus {
    @include outline;
  }
}

input[type=checkbox] {
  // 'box' >>
  border-radius: 4px;
  &::before {
    // 'check' >>
    display: block;
    position: absolute;
    top: 50%;
    left: 3px;
    width: 5px;
    height: 8px;
    margin-top: -7px;
    padding: 0;
    border-right: 3px solid $jp-color-white;
    border-bottom: 3px solid $jp-color-white;
    content: '';
    transform: rotate(45deg);
    // <
  }
  // <
}

// ******************** radio *********************************************

input[type=radio] {
  // 'circle' >>
  border-radius: 50%;
  &:checked:before {
    transform: scale(1);
    background: $jp-color-white;
  }
  // 'check' >>
  &:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 3px;
    transform: scale(0);
    // <
  }
  // <
}

// ******************** submit ********************************************

input[type=submit], input[type=button] {
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  &:focus, &:active {
  padding-left: 19px;
  padding-right: 19px;
    @include border(input-focus);
  }
}

// ******************** others ********************************************

// Mostly trivial position adjustment

img {
  &#hide-left-frame {
    width: 25px;
  }
  &#show-left-frame {
    width: 25px;
  }
}

[id^="currentImage"] {
  height: 16px;
}

[id^="titleUrl"] {
  vertical-align: middle;
}

.albumThumb img {
  @include borderRadius(upper);
}

.fancy img {
  @include borderRadius;
}

div.detail img {
  padding: 0 2px 0 2px;
}

// Affects the row height of 'Top songs'
.mainframe.bgcolor1 {
  table.music.indent {
    &:nth-of-type(3) {
      tr {
         td {
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

// Play queue layer definition
.bgcolor2.playlistframe div.bgcolor2 {
  position: relative;
  z-index: 1;
}

// ******************** end ***********************************************
