
// Styles related to java jukebox controls

.javaJukeBoxPlayerControlBarSongTime {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 80%;
  text-align: right;
}

#javaJukeboxSongPositionSlider {
  width: 200px;
  height: 4px;
}