
// Styles related to player

.mejs__overlay-loading-bg-img {
	background-image: url("jpsonic-controls.svg");
}

.mejs__button>button {
	background-image: url("jpsonic-controls.svg");
}

.mejs__overlay-button {
	background-image: url("jpsonic-controls.svg");
}

.mejs__container {
	background: transparent;
}

.mejs__container .me_cannotplay a {
	background: transparent;
}

.mejs__controls:not([style*="display: none"]) {
  background: transparent;
  background: -webkit-linear-gradient(transparent, transparent);
  background: linear-gradient(transparent, transparent)
}

.mejs__time {
	color: $jp-color-dark-gray;
}

.mejs__time-total {
	@include primaryMaskedBg(0.5);
}

.mejs__time-buffering {
	background: linear-gradient(-45deg,
	  rgba($jp-color-black, 0.15) 75%, transparent 75%,
      transparent 50%,
      rgba($jp-color-black, 0.85) 50%,
      rgba($jp-color-black, 0.85) 75%,
      transparent 75%,
      transparent);
}

.mejs__time-loaded {
	@include primaryMaskedBg(0.7);
}

.mejs__time-current, .mejs__time-handle-content {
	@include primaryMaskedBg(1);
}

.mejs__time-hovered {
	background: rgba($jp-color-black, .4);
}

.mejs__time-hovered.negative {
	background: rgba($jp-color-white, 0.4);
}

.mejs__volume-button>.mejs__volume-slider {
	background: rgba(50, 50, 50, 0.3);
}

.mejs__volume-current {
	@include primaryMaskedBg(1);
}

.mejs__volume-handle {
	@include primaryMaskedBg(1);
}

.mejs__horizontal-volume-total {
	@include primaryMaskedBg(0.5);
}

.mejs__horizontal-volume-current {
	@include primaryMaskedBg(1);
}

.mejs__captions-button>.mejs__captions-selector, .mejs__chapters-button>.mejs__chapters-selector
	{
	background: rgba(50, 50, 50, 0.3);
}

.mejs__captions-selector-list-item, .mejs__chapters-selector-list-item {
	color: $jp-color-black;
}

.mejs__captions-selector-list-item:hover,
	.mejs__chapters-selector-list-item:hover {
	background-color: rgb(100, 100, 100) !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.mejs__captions-layer {
	color: $jp-color-black;
}

.mejs__captions-layer a {
	color: $jp-color-black;
}