
// jquery-ui tooltip theme.

div.ui-tooltip {
  box-shadow: none;
  max-width: 400px;
  @include border;
  @include borderRadius;
  background-color: $jp-color-complementary2;
  font-family: $jp-font-family;
  font-size: 0.85rem;
  line-height: 140%;
}