
// Styles related to Javascript-zoom

#zoom {
  display: none;
  position: absolute;
  z-index: 499;
  box-shadow: 0 5px 25px $jp-color-black;
  -webkit-box-shadow: 0 5px 25px $jp-color-black;
  -moz-box-shadow: 0 5px 25px $jp-color-black;
}

#zoom_img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  @include border(zero);
  cursor: pointer;
}

#zoom_close {
  display: none;
  position: absolute;
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  background: url(../script/closebox.png) no-repeat;
  cursor: pointer;
}

#zoom_spin {
  display: none;
  position: absolute;
  z-index: 525;
  width: 50px;
  height: 50px;
  background: url(../script/spin.png) no-repeat;
}