[Unit]
Description=Jpsonic Media Server
After=remote-fs.target network.target
AssertPathExists=/var/jpsonic

[Service]
Type=simple
Environment="JAVA_JAR=/var/jpsonic/jpsonic.war"
Environment="JAVA_OPTS=-Xmx700m"
Environment="JPSONIC_HOME=/var/jpsonic"
Environment="PORT=8080"
Environment="CONTEXT_PATH=/jpsonic"
Environment="JAVA_ARGS="
EnvironmentFile=-/etc/sysconfig/jpsonic
ExecStart=/usr/bin/java \
          $JAVA_OPTS \
          -Djpsonic.home=${JPSONIC_HOME} \
          -Dserver.context-path=${CONTEXT_PATH} \
          -Dserver.port=${PORT} \
          -jar ${JAVA_JAR} $JAVA_ARGS
User=jpsonic
Group=jpsonic

# See https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# for details
DevicePolicy=closed
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHome=true
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock,@debug,@module,@mount,@obsolete,@privileged,@reboot,@setuid,@swap
ProtectSystem=full

# You can uncomment the following line if you don't want airsonic to be able to 
# write anything on your filesystem outside of AIRSONIC_HOME.
# Don't forget to remove the other `ProtectSystem` line above.
#ProtectSystem=strict
#ReadWritePaths=/var/airsonic


[Install]
WantedBy=multi-user.target

