[Unit]
Description=Jpsonic Media Server
After=remote-fs.target network.target
AssertPathExists=/var/jpsonic

[Service]
Type=simple
Environment="JAVA_JAR=/var/jpsonic/jpsonic.war"
Environment="JAVA_OPTS=-Xmx700m"
Environment="JPSONIC_HOME=/var/jpsonic"
Environment="PORT=8080"
Environment="CONTEXT_PATH=/jpsonic"
Environment="JAVA_ARGS="
EnvironmentFile=-/etc/sysconfig/jpsonic
ExecStart=/usr/bin/java \
          $JAVA_OPTS \
          -Djpsonic.home=${JPSONIC_HOME} \
          -Dserver.context-path=${CONTEXT_PATH} \
          -Dserver.port=${PORT} \
          -jar ${JAVA_JAR} $JAVA_ARGS
User=jpsonic
Group=jpsonic

[Install]
WantedBy=multi-user.target

