<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	metadata-complete="false">
	<!--
	The Airsonic Spring configuration is annotation-based.
	This file is kept empty in order to prevent DWR from emitting warnings.

	See: https://github.com/airsonic/airsonic/issues/1255
	-->
</web-app>
