language: java
cache:
  directories:
    - $HOME/.m2

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -Prelease11

script:
  - mvn verify -B -Prelease11 -Punit-test

matrix:
  include:
  - jdk: openjdk11
  - jdk: openjdk12
  - jdk: openjdk13
  - jdk: openjdk14
  - jdk: openjdk15
