<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="com.tesshu.jpsonic.controller.StreamController" level="trace"/>
    <logger name="com.tesshu.jpsonic.service.MediaScannerScheduleConfiguration" level="trace"/>
    <logger name="com.tesshu.jpsonic.service.PodcastScheduleConfiguration" level="trace"/>
</configuration>