// ******************** coverart/changeCoverArt.jsp,
//                                 coverArt.jsp, videoMain.jsp
// ************************************************************************

div.coverart {
  @include border;
  @include dropShadow;
  img {
    @include borderRadius(upper);
  }
  // ellipsis display, so flex cannot be used. Width is described by jsp.
  .caption1,
  .caption2,
  .caption3 {
    overflow: hidden;
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    height: 20px;
    padding-right: 4px;
    padding-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .caption1 {
    font-size: .94rem;
    font-weight: 500;

    @include borderRadius;
    &:focus-within {
      background-color: $jp-color-complementary3;
    }
    a {
      outline: none;
      &:hover {
        background-color: $jp-color-complementary3;
      }
    }
  }
  .caption2 {
    font-size: .86rem;
    font-weight: 400;
  }
  .caption3 {
    font-size: .86rem;
    font-weight: 400;
  }
  ul.controls {
    height: 0;
    .control.play,
    .control.plus {
      display: none;
      position: relative;
      z-index: $jp-layer-5;
      top: 20px;
    }
    .control.play {
      left: 6px;
    }
    .control.plus {
      left: 10px;
    }
  }
}

.coverart,
#nowPlaying img {
  background-color: $jp-color-white;
  color: $jp-color-dark-gray;

  @include borderRadius;
}

.coverart .caption1 a:link,
.coverart .caption1 a:visited {
  height: 20px;
  color: $jp-color-black;
}

.tabular-and-thumb {
  margin-top: 30px;
  > .albumThumb {
    display: flex;
    align-items: start;
    flex-flow: row nowrap;
    justify-content: center;
    width: #{$album-page-cover-art-size};
    height: #{$album-page-cover-art-size};
    div.coverart {
      img {
        @include borderRadius;
      }
    }
  }
}
