.ui-dialog.ui-corner-all.ui-widget.ui-widget-content {
  position: fixed;
  top: 50vw;
  left: 50vw;
  outline: none;
  background-color: $jp-color-white;
  color: $jp-color-black;
  transform: translate(-50%, -50%);

  @include border;
  @include borderRadius;
  @include dropShadow(non-clickable);
  .ui-dialog-titlebar.ui-corner-all.ui-widget-header {
    height: 30px;
    margin: 4px 4px 0 4px;
    background: none;
    background-color: $jp-color-base4;
    color: $jp-color-white;
    .ui-dialog-title {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: start;
      position: relative;
      top: -8px;
      height: 30px;
      color: $jp-color-white;
      font-size: .93rem;
    }
    button.ui-button.ui-dialog-titlebar-close {
      display: none;
      font-size: .93rem;
    }
  }
  .ui-dialog-content {
    padding: 4px !important;
  }
}

div[id^="dialog"] {
  display: none;
  top: 0;
  left: 0;
  width: 100% !important;
  margin: 0;
  color: $jp-color-black;
  font-size: 1rem;
}

#dialog-edit {
  form {
    margin: 0;
    dl {
      margin: 0;
    }
  }
}

ul#dialog-select-playlist-list {
  padding: 0;

  @include border;
  @include borderRadius;
  li {
    list-style-type: none;
    padding: 4px;
    border-spacing: 0;
    border-collapse: separate;
    background: $jp-color-white;
    color: $jp-color-black;
    font-size: .93rem;
    line-height: 30px;

    @include borderRadius;
    a {
      outline: none;
    }
  }
  li:hover,
  li:focus-within {
    padding: 2px;
    background-color: $jp-color-mask-light-gray;

    @include border(input-focus);
    @include borderRadius;
    a {
      color: $jp-color-complementary3;
    }
  }
}
