.mainframe.settings.dlnaSettings {
  input#dlnaServerName {
    @include dlInputWidth(10);
  }
  input#dlnaBaseLANURL {
    @include dlInputWidth(13);
  }
  input#dlnaRandomMax {
    @include dlInputWidth(2);
  }

  table.tabular.dlna-display {
    width: 640px;
    margin: 30px 0 0 calc((100% - 640px) / 2);
    th {
      text-align: center;
    }
    tr {
      &:hover {
        background-color: inherit;
      }
      td {
        font-size: .86rem;
        &:nth-child(1) {
          width: 420px;
          padding-left: 10px;
          text-align: left;
          .popup.help {
            vertical-align: middle;
          }
        }
        &:nth-child(2) {
          width: 220px;
          padding-left: 10px;
          text-align: left;
        }
      }
    }
  }
}
