// Move to global once patterns are organized.

.mainframe.settings.generalSettings {
  input#index {
    @include dlInputWidth(15);
  }
  input#ignoredArticles {
    @include dlInputWidth(15);
  }
  input#musicFileTypes {
    @include dlInputWidth(15);
  }
  input#videoFileTypes {
    @include dlInputWidth(15);
  }
  input#coverArtFileTypes {
    @include dlInputWidth(15);
  }
  input#playlistFolder {
    @include dlInputWidth(15);
  }
  input#shortcuts {
    @include dlInputWidth(15);
  }
  input#welcomeTitle {
    @include dlInputWidth(15);
  }
  input#welcomeSubtitle {
    @include dlInputWidth(15);
  }
  ul.indexPreset {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: start;
    height: 30px;
    a {
      top: -2px;
      outline: none;
      background: $jp-color-base1;

      @include dropShadow;
    }
    .selected {
      top: -1px;
      background: $jp-color-dark-gray;
      color: $jp-color-white;
      font-weight: 600;

      @include dropShadow(none);
    }
    a,
    .selected {
      position: relative;
      height: 26px;
      margin: 2px 8px 2px 0;
      padding: 0 4px 0 4px;
      border-radius: 10px;
      font-size: .93rem;
      font-weight: 600;
      vertical-align: middle;

      @include border;
      &:active {
        top: -1px;
      }
    }
    a {
      &:focus,
      &:hover {
        background: $jp-color-complementary3;
        color: $jp-color-base4;
      }
    }
  }
}
