$jp-main-settings-width: calc(100vw - 60px);

.mainframe.settings > form {
  margin-top: 0;
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  padding-right: 5px;
  padding-left: 5px;
  &:focus,
  &:active {
    padding-right: 4px;
    padding-left: 4px;
  }
}

// ******************** zoom *********************************
// Styles related to Javascript-zoom

#zoom {
  display: none;
  position: absolute;
  z-index: $jp-layer-5;
  -webkit-box-shadow: 0 5px 25px $jp-color-black;
     -moz-box-shadow: 0 5px 25px $jp-color-black;
          box-shadow: 0 5px 25px $jp-color-black;
}

#zoom_img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;

  @include border(zero);
}

#zoom_close {
  display: none;
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: url(../../script/closebox.png) no-repeat;
  cursor: pointer;
}

#zoom_spin {
  display: none;
  position: absolute;
  z-index: 525;
  width: 50px;
  height: 50px;
  background: url(../../script/spin.png) no-repeat;
}

// ******************** jquery-ui tooltip *********************************

div.ui-tooltip {
  max-width: 400px;
  background-color: $jp-color-complementary2;
  box-shadow: none;
  font-size: .85rem;

  @include border;
  @include borderRadius;
  .ui-tooltip-content {
    color: $jp-color-black;
  }
}

// ******************** anchorList ****************************************

// Used for simple enumeration of links
ul.anchorList {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 30px;
  a {
    top: -2px;
    outline: none;
    background: $jp-color-base1;

    @include dropShadow;
  }
  .selected {
    top: -1px;
    background: $jp-color-dark-gray;
    color: $jp-color-white;
    font-weight: 600;

    @include dropShadow(none);
  }
  a,
  .selected {
    position: relative;
    height: 20px;
    margin: 5px 8px 5px 0;
    padding: 0 4px 0 4px;
    border-radius: 10px;
    font-size: .93rem;
    font-weight: 600;
    vertical-align: middle;

    @include border;
    &:active {
      top: -1px;
    }
  }
  a {
    &:focus,
    &:hover {
      background: $jp-color-complementary3;
      color: $jp-color-base4;
    }
  }
}

// ******************** mainframe *****************************************

.mainframe {
  padding: 10px;
  background-color: $jp-color-white;
  > section {
    > ul.sibling-pages {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      // enumerating links in the same category (tab like)
      margin: -2px 0 0 0;
      padding: 0;
      li {
        margin: 0 0 1px 0;
        padding: 0;
      }
      a {
        background: $jp-color-base1;
      }
      .selected {
        background: $jp-color-base4;
        color: $jp-color-white;
      }
      a,
      .selected {
        width: 100px;
        min-width: 100px;
        height: 30px;
        margin: 0 2px 0 2px;
        padding: 2px 10px 2px 10px;
        outline: none;
        border-top: 1.4px solid $jp-color-base3;
        border-right: 1.4px solid $jp-color-base3;
        border-left: 1.4px solid $jp-color-base3;
        font-size: .93rem;
        font-weight: 600;
        vertical-align: middle;
        white-space: nowrap;

        @include borderRadius(upper);
      }
      a {
        border-bottom: 1.4px solid $jp-color-base3;
        &:focus,
        &:hover {
          background: $jp-color-complementary3;
          color: $jp-color-base4;
        }
      }
    }
  }
  &:after {
    display: block;
    width: 100%;
    height: 60px;
    content: "";
  }
}

.mainframe.notMobile {
  &:after {
    height: 0;
  }
}

// ******************** breadcrumb/home.jsp, albumMain.jsp ****************

ul.breadcrumb {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  color: $jp-color-dark-gray;
  li {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 30px;
    margin: 0 4px 0 0;
    a,
    &:before,
    &:after {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      height: 30px;
      margin: 0 4px 0 0;
      line-height: 30px;
    }
    &:before {
      font-family: "ionic";
      font-size: 16px;
      content: "\f2f4";
    }
    &:after {
      margin: 0 6px 0 4px;
      content: "\0bb";
    }
  }
}

// ******************** genre, decade/home.jsp,
//                      username/userSettings.jsp
//                      player/playerSettings.jsp ************************/

.titledSelector {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 26px;
  border: $jp-border-width solid $jp-color-base2;
  background-color: $jp-color-base4;
  color: $jp-color-white;
  font-weight: 600;

  @include borderRadius;
  select {
    font-weight: 400;
  }
}

// ******************** controls/artistMain.jsp, albumMain.jsp, home.jsp **

h2 {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 30px;
  margin: 0 0 0 #{$jp-subsection-indent};
  border-bottom: 1.4px solid $jp-color-base3;
  color: $jp-color-dark-gray;
  font-size: 1.14rem;
  white-space: nowrap;
}
.controls,
.controls,
.stars,
.ratings {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: start;
  height: 30px;
  > li,
  li form {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    > a,
    span {
      margin: 4px 4px 0 0;
    }
    > ul {
      display: none;
      pointer-events: none;
      > li {
        display: list-item;
        list-style-type: none;
        > a {
          display: inline-block;
          width: 250px;
          //left: -2300px;
          height: 20px;
          padding: 0 5px;
          //position: absolute;
          box-sizing: border-box;
        }
      }
    }
    &:focus-within ul {
      display: block;
      position: absolute;
      z-index: $jp-layer-4;
      top: 0;
      left: 0;
      padding: 5px;
      border-radius: $jp-border-radius;
      background-color: $jp-color-base2;
      -webkit-user-select: auto;
         -moz-user-select: auto;
          -ms-user-select: auto;
              user-select: auto;
      pointer-events: auto;

      @include border;
      > li {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        a {
          display: block;
          visibility: visible;
          position: relative;
          top: 0;
          left: 0;
          height: 30px;
          padding: 0 0 0 26px;
          border-radius: $jp-border-radius;
          text-decoration: none;
          text-align: left;

          @include border;
          @include blockLink($jp-color-white, $jp-color-base4);
          &:link,
          &:active,
          &:visited,
          &:link *,
          &:active *,
          &:visited * {
            color: $jp-color-base4 !important;
          }
          &:hover,
          &:hover * {
            background-color: $jp-color-complementary3;
            color: $jp-color-base4 !important;
          }
          &:focus {
            background-color: $jp-color-complementary3;
          }
          &::before {
            top: 2px;
            color: $jp-color-dark-gray;
            //content: none;
          }
        }
      }
    }

    &:last-child {
      margin-right: 30px;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  height: 30px;
  margin: 0 30px 0 0;
  > ul.anchorList {
    margin: 5px 0 0 30px;
    padding: 0;
  }
  > div {
    margin: 3px 0 0 10px;
    color: $jp-color-dark-gray;
    font-size: .86rem;
  }
}

.tabular + .actions {
  margin: -30px 0 30px $jp-subsection-indent;
}

h2 + div.actions {
  margin-left: $jp-subsection-indent;
}

// ******************** submits *******************************************

.submits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: calc(100vw - 30px);
  margin: 30px 30px 0 0;
  padding: .3rem 0 .3rem 10px;
  @media screen and (min-width: $jp-supplement-width-threshold) {
    width: calc(50vw - 30px);
    margin: 30px 30px 0 calc((100vw - (50vw - 30px)) / 2);
  }
}

// ******************** albumThumb/coverArt.jsp ->
//                                 albumMain.jsp, artistMain.jsp, home.jsp,
//                                 playlists.jsp, podcastChannel.jsp,
//                                 starred.jsp, videoMain.jsp
// ************************************************************************

// The size depends on where it is used.

$default-cover-art-width: 180px;
$default-cover-art-height: 240px;

.albumThumb {
  display: flex;
  align-items: start;
  flex-flow: row wrap;
  justify-content: center;
  width: #{$default-cover-art-width};
  height: #{$default-cover-art-height};
}

div.albumThumb > div.coverart > div > a {
  outline: none;
  > img {
    @include borderRadius(upper);
  }
}

// ******************** alignment/*Settings.jsp ***************************

// The component is a very diverse pattern. Narrow the width and arrange vertically for easy viewing for user.
// The width that can be displayed on the iPad is recommended.

.mainframe.settings,
.mainframe.help {
  .topSelectorContainer,
  details {
    width: calc(100vw - 60px);
    margin: 30px 20px 0 20px;
    @media screen and (min-width: $jp-supplement-width-threshold) {
      width: calc(50vw - 60px);
      margin: 30px 20px 0 calc((100vw - (50vw - 60px)) / 2);
    }
  }

  table.tabular {
    width: auto;
    margin: 30px 0 0 calc(#{$jp-user-inputs-baseline} + 30px);
  }

  // fine adjustment of the position
  > form {
    margin-top: 0;
  }

  //podcastSettings.jsp
  > form > dl {
    width: $jp-main-settings-width;
    margin-top: 10px;
    margin-left: calc((100vw - #{$jp-main-settings-width}) / 2 + 25px);
  }

  //userSettings.jsp, , playerSettings.jsp
  > section + dl.single {
    width: $jp-main-settings-width;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: calc((100vw - #{$jp-main-settings-width}) / 2 + 25px);
  }

  // databaseSettings.jsp
  > section + form > dl.single {
    width: $jp-main-settings-width;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: calc((100vw - #{$jp-main-settings-width}) / 2 + 25px);
  }
}

// Used when arranging radio buttons vertically
.mainframe.settings.musicFolderSettings details dl dd ul,
.mainframe.settings.playerSettings details ul,
.mainframe.settings.personalSettings details dl dd ul,
.mainframe.settings.transcodingSettings details dl dd ul,
.mainframe.settings.advancedSettings details dl dd:nth-of-type(1) ul {
  li {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: start;
    height: 30px;
    input,
    label {
      margin-left: 3px;
    }
    div {
      margin-left: 5px;
    }
  }
}

.outlineHelp {
  width: calc(100vw - 60px);
  margin: 30px 20px 0 20px;
  padding: 30px;
  background-color: $jp-color-complementary2;
  font-size: .86em;

  @include border;
  @include borderRadius;
  @media screen and (min-width: $jp-supplement-width-threshold) {
    width: calc(50vw - 60px);
    margin: 30px 20px 0 calc((100vw - (50vw - 60px)) / 2);
  }
  dl {
    background-color: $jp-color-complementary2;
    dt {
      background-color: $jp-color-white;
    }
    dd {
      background-color: $jp-color-white;
    }
  }
}

details {
  > .outlineHelp {
    width: calc(100% - 20px);
    margin: 30px 20px 0 20px;
    line-height: 30px;
  }
}

// ******************** comment-input/artistMain.jsp, albumMain.jsp **********************************

.comment-input {
  width: 50rem;
  margin: 6px 0 -9px 0;
  padding: 3px 0 0 0;
  font-size: .86rem;
}
