.mainframe.help {
  .tabular.log {
    width: calc(100% - 30px);
    margin: 30px 0 0 30px;
    table-layout: fixed;
    background-color: $jp-color-base1;
    font-size: .93rem;
    line-height: 1.2rem;
    white-space: nowrap;
    word-wrap: break-word;
    tr {
      height: 1.2rem;
      td {
        font-size: .8rem;
        white-space: normal;
        word-wrap: break-word;
      }
      &:nth-child(even) {
        background-color: $jp-color-mask-light-gray;
      }
    }
  }
}
