h1.welcome {
  // TODO
}
h2.welcome {
  // TODO
}
div.welcome {
  // TODO
}

.mainframe.home {
  $home-controls-width: 800px;

  section {
    > .controls {
      margin: -30px 0 10px calc((100% - #{$home-controls-width}) / 2);
      padding: 8px 0px 5px 0px;
      font-size: 0.86rem;
    }
  }

  details {
    ul.anchorList {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: start;
      min-height: 30px;
      width: calc(100% - 30px);
      margin: 0;
      padding: 0 0 0 30px;
      li {
        display: flex;
        align-items: center;
        margin: 0px 8px 0px 0px;

        a {
          height: 24px;
          margin: 6px 8px 0px 0px;
          padding: 1px 10px 1px 10px;
          @include border;
          border-radius: 12px;
          font-size: 1rem;
          font-weight: 500;
          vertical-align: middle;
          &:active {
            top: -1px;
          }
        }
      }
    }
  }

  div.albums {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .albumThumb {
    > .ratings {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
      width: 160px;
    }
  }
}
