// ******************** Frames / index.jsp ********************************

.index {
  height: 100vh;
  overflow: hidden;
  > input#isDrawerOpened {
    display: none;
    &:checked ~ #playQueue {
      left: $jp-drawer-width;
      width: calc(100vw - #{$jp-drawer-width});
    }
  }
  > input#isQueueOpened {
    display: none;
    &:checked ~ #playQueue {
      height: 60vh;
    }
  }

  > iframe[name*="upper"] {
    overflow: hidden;
    z-index: $jp-layer-0;
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    border: none;
  }

  > iframe[name*="right"] {
    z-index: $jp-layer-2;
    overflow: hidden;
    position: absolute;
    top: #{$jp-header-height};
    right: 0;
    width: 0;
    height: calc(100vh - #{$jp-player-height});
    border: none;
  }

  > input#isQueueExpand {
    display: none;
  }
  > input#isQueueOpened:checked + input#isQueueExpand:checked + #playQueue {
    height: calc(100vh - #{$jp-header-height});
  }

  #playQueue {
    z-index: $jp-layer-1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $jp-player-height;
    margin: 0;
    border: none;
  }
}

#main {
  overflow: hidden;
  z-index: $jp-layer-1;
  position: absolute;
  top: #{$jp-header-height};
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$jp-header-height} - #{$jp-player-height});
  margin: 0;
  border: none;
}
