.mainframe.settings.internalhelp {
  table.tabular.stats {
    width: calc(100vw - 90px);
    margin: 30px 0 0 30px;
    @media screen and (min-width: $jp-supplement-width-threshold) {
      width: calc(50vw - 90px);
      margin: 30px 0 0 30px;
    }

    th,
    td {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        padding-right: 10px;
        text-align: right;
      }
    }
  }
}
