// ******************** loginframe / login.jsp ****************************

#loginframe {
  display: list-item;
  list-style: none;
  margin: 100px 50px;
  padding: 20px 50px;
  text-align: center;
  background-color: $jp-color-base1;
  @include dropShadow;
}

#loginframe > * {
  display: block;
  margin: 0 auto;
}

#loginframe .loginmessagetop {
  max-width: 18rem;
  margin-bottom: 1rem;
}

#loginframe input[type="text"],
#loginframe input[type="submit"],
#loginframe input[type="password"] {
  width: 18rem;
  margin-bottom: 0.5rem;
  &:hover {
    width: 18rem;
  }
}

#loginremember {
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
}

#loginframe .loginmessagebottom {
  margin-top: 1rem;
  max-width: 50rem;
}
