.mainframe.login {
  display: flex;
  align-items: center;
  justify-content: center;
  #loginframe {
    display: list-item;
    list-style: none;
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    @media screen and (min-width: 1024px) {
      width: 800px;
      left: calc(50vw - 400px);
    }
    top: 10px;
    @media screen and (min-height: 764px) {
      top: 20vh;
    }

    @include border;
    @include borderRadius;
    text-align: center;
    background-color: $jp-color-base1;
    > * {
      display: block;
      margin: 0 auto;
    }
    .loginmessagetop {
      max-width: 18rem;
      margin-bottom: 1rem;
    }
    input[type="text"],
    input[type="submit"],
    input[type="password"] {
      width: 18rem;
      margin-bottom: 0.5rem;
      &:hover {
        width: 18rem;
      }
    }
    #loginremember {
      display: inline-flex;
      margin-right: 10px;
      align-items: center;
    }
    .loginmessagebottom {
      margin-top: 1rem;
      max-width: 50rem;
    }
  }
}
