table.tabular.musicfolder {
  th {
    text-align: center;
  }
  tr {
    &:hover {
      background-color: inherit;
    }
    td {
      &:nth-child(1) {
        width: 150px;
        padding-left: 10px;
        text-align: left;
      }
      &:nth-child(2) {
        width: 24px;
        text-align: left;
      }
      &:nth-child(3) {
        width: 60px;
        text-align: center;
      }
      &:nth-child(4) {
        width: 60px;
        text-align: center;
      }
    }
  }
}
