.mainframe.settings.personalSettings {
  .fontSizeSettings {
    height: 30px;
    margin-left: 22px;
  }
  input#fontFamily {
    @include dlInputWidth(12);
  }
  input#fontSize {
    @include dlInputWidth(2);
  }
  input#ietf {
    @include dlInputWidth(2);
  }
  input#paginationSize {
    @include dlInputWidth(1);
  }
  input#listenBrainzToken {
    @include dlInputWidth(9);
  }
  input#lastFmUsername {
    @include dlInputWidth(6);
  }
  input#lastFmPassword {
    @include dlInputWidth(6);
  }
  input#file {
    cursor: pointer;
    @include dlInputWidth(10);
    padding: 0 0 0 10px;
    border: none;
  }

  input#fontSizeSlider {
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 10px; /* バーの高さ */
    background: $jp-color-base1;
    border-radius: 5px;
    border: solid 1px $jp-color-medium-gray;
  }

  input#fontSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $jp-color-base3;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @include dropShadow;
  }
  input#fontSizeSlider::-moz-range-thumb {
    background: $jp-color-base3;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @include dropShadow;
    border: none;
  }
  input#fontSizeSlider::-moz-focus-outer {
    border: 0;
  }
  input#fontSizeSlider:focus::-webkit-slider-thumb,
  input#fontSizeSlider:hover::-webkit-slider-thumb,
  input#fontSizeSlider:active::-webkit-slider-thumb {
    background: $jp-color-complementary3;
  }

  table.tabular.personalsettings-display {
    width: 400px;
    margin: 30px 0 0 calc((100% - 400px) / 2);
    th {
      text-align: center;
    }
    tr {
      &:hover {
        background-color: inherit;
      }
      td {
        &:nth-child(1) {
          width: 150px;
          padding-left: 10px;
          text-align: left;
        }
        &:nth-child(2) {
          width: 120px;
          text-align: center;
        }
        &:nth-child(3) {
          width: 120px;
          text-align: center;
        }
      }
    }
  }

  table.tabular.personalsettings-display + dl {
    margin-top: 30px;
  }

  summary + dl.single {
    margin-top: 30px;
  }

  dl {
    dd.avatarContainer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: start;
      .avatar {
        white-space: nowrap;
      }
    }
  }
}
