.mainframe.playlists {
  .tabular.playlists {
    tr {
      td {
        &:nth-child(1),
        &:nth-child(2) {
          @include buttonCell;
        }
        &.name,
        &.comment {
          min-width: 10rem;
          max-width: calc((100vw - 500px) / 2);
        }
        &.comment {
          min-width: 10rem;
        }
        &.numberofsongs,
        &.duration {
          padding: 0 10px 0 0;
          text-align: right;
        }
        &.comment,
        &.numberofsongs,
        &.duration,
        &.created,
        &.visibility {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &.numberofsongs {
          width: 60px;
          min-width: 60px;
          max-width: 60px;
        }
        &.duration {
          width: 90px;
          min-width: 90px;
          max-width: 90px;
        }
        &.created {
          width: 120px;
          min-width: 120px;
          max-width: 120px;
        }
        &.author {
          width: 90px;
          min-width: 90px;
          max-width: 90px;
        }
        &.visibility {
          width: 90px;
          min-width: 90px;
          max-width: 90px;
        }
      }
    }
  }
}
