$playlists-page-cover-art-size: 330px;

.mainframe.playlist {
  section {
    > .overview {
      position: absolute;
      top: 0;
      right: 10px;
      width: 300px;
      border: none;
      background-color: transparent;
      dt {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
      }
      dd {
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: start;
        width: 120px;
        max-width: 300px;
        height: 30px;
        border: none;
        background-color: transparent;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:last-of-type {
          width: 270px;
        }
      }
    }
  }

  > .tabular-and-thumb {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .tabular.playlist {
      margin-bottom: 30px;

      @include tabularWithCoverArt;
      tbody {
        cursor: pointer;
        tr {
          td {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              @include buttonCell;
            }
            &:nth-child(5) {
              // index
              width: 30px;
              text-align: right;
            }
            &.song,
            &.album,
            &.artist {
              min-width: 10rem;
              &.truncate {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            &.song.truncate {
              max-width: 20vw;
            }
            &.album.truncate {
              max-width: 10vw;
            }
            &.artist.truncate {
              max-width: 10vw;
            }
            &.composer {
              min-width: 4rem;
            }
            &.genre {
              min-width: 4rem;
            }
            &.year,
            &.format,
            &.size,
            &.duration,
            &.bitrate {
              padding: 0 10px 0 0;
              text-align: right;
            }
            &.year {
              width: 30px;
            }
            &.format {
              width: 30px;
            }
            &.size {
              width: 60px;
            }
            &.duration {
              width: 60px;
            }
            &.bitrate {
              width: 90px;
            }
            &.remove {
              width: 30px;
              padding: 0 10px 3px 0;
            }
            .playlist-missing {
              display: none;
              margin-right: 5px;
              padding-right: 5px;
              padding-left: 5px;
              border: 1px solid red;
              color: red;
              font-size: 90%;
            }
          }
        }
      }
    }
  }

  .tabular.sibling {
    width: calc(100vw - #{$playlists-page-cover-art-size} - 60px - #{$jp-subsection-indent});
    margin: 0 0 0 28px;
    @media screen and (max-width: #{$jp-supplement-width-threshold}) {
      width: calc(100vw - 60px - #{$jp-subsection-indent});
    }
    tr {
      td {
        height: 30px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          width: 30px;
        }
        &.artist {
          &.truncate {
            overflow: hidden;
            max-width: 25vw;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &.year {
          width: 30px;
          padding: 0 10px 0 0;
          text-align: right;
        }
      }
    }
  }

  > div.coverart-container {
    height: auto;
    margin: 30px 0 0 0;
    > .albumThumb {
      width: 210px;
      height: 250px;
    }
  }

  .row-drag {
    background-color: $jp-color-complementary1;

    @include border(top);
    @include border(bottom);
    @include dropShadow;
    &:first-child {
      @include border(left);
      @include borderRadius(left);
    }
    &:last-child {
      @include border(right);
      @include borderRadius(right);
    }
  }
}
