.mainframe.search > details {
  > .tabular {
    @include subSectionContent;
    tr {
      td {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 30px;
          padding: 0 0 3px 10px;
        }
      }
    }
  }
  > .tabular.albums,
  > .tabular.songs {
    tr {
      td {
        &.song,
        &.album,
        &.artist {
          &.truncate {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        &.song.truncate {
          max-width: 20vw;
        }
        &.album.truncate {
          max-width: 10vw;
        }
        &.artist.truncate {
          max-width: 10vw;
        }
        &.composer {
          min-width: 4rem;
        }
        &.genre {
          min-width: 4rem;
        }
        &.year,
        &.format,
        &.size,
        &.duration,
        &.bitrate {
          padding: 0 10px 0 0;
          text-align: right;
        }
        &.year {
          width: 30px;
        }
        &.format {
          width: 30px;
        }
        &.size {
          width: 60px;
        }
        &.duration {
          width: 60px;
        }
        &.bitrate {
          width: 90px;
        }
      }
    }
  }
}
