.mainframe.settings.userSettings {
  .username {
    width: 240px;
    min-width: 240px;
    max-width: 270px;
    margin: 34px 20px 3px 20px;
    @media screen and (min-width: $jp-supplement-width-threshold) {
      width: calc(50vw - 60px);
      margin: 34px 20px 3px calc((100vw - (50vw - 60px)) / 2);
    }
  }

  div.titledSelector.username {
    select {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
