.mainframe.videoMain {
  .tabular.songs {
    tr {
      th,
      td {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
      td {
        &:nth-child(1),
        &:nth-child(4) {
          width: 30px;
        }
        &.song {
          min-width: 10rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &.year,
        &.format,
        &.size,
        &.duration,
        &.bitrate {
          padding: 0 10px 0 0;
          text-align: right;
        }
        &.year {
          width: 30px;
        }
        &.format {
          width: 30px;
        }
        &.size {
          width: 60px;
        }
        &.duration {
          width: 60px;
        }
        &.bitrate {
          width: 90px;
        }
      }
    }
  }

  .albumThumb {
    width: 240px;
    height: 150px;
  }
  .coverart-container {
    justify-content: start;
  }
}
