.mainframe.videoPlayer {
  padding: 4px;

  #overlay {
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 1;
    background-color: black;
    display: none;
  }

  #overlay_text {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    color: white;
    display: none;
  }

  .videoView {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: center;
    background-color: black;
    #videoPlayer {
      width: 100%;
      height: 100%;
    }
    video::-webkit-media-controls-play-button {
      display: none;
    }
    video::-webkit-media-controls-mute-button {
      display: none;
    }
    video::-webkit-media-controls-volume-slider {
      display: none;
    }
    video::-webkit-media-controls-volume-slider-container {
      display: none;
    }
    video::-webkit-media-controls-timeline {
      display: none;
    }
    video::-webkit-media-controls-timeline-container {
      display: none;
    }
    video::-webkit-media-controls-current-time-display {
      display: none;
    }
    video::-webkit-media-controls-fullscreen-button {
      display: none;
    }
    video::-webkit-media-controls-time-remaining-display {
      display: none;
    }
    video::-webkit-media-controls-picture-in-picture-button {
      display: none;
    }
    video::-webkit-full-page-media::-webkit-media-controls-panel {
      display: none;
    }

    //video::-webkit-media-controls {display: none;}
    //video::-webkit-media-controls-panel {}
    //video::-webkit-media-controls-current-time-display {}
    //video::-webkit-media-controls-seek-back-button {}
    //video::-webkit-media-controls-seek-forward-button {}
    //video::-webkit-media-controls-rewind-button {}
    //video::-webkit-media-controls-return-to-realtime-button {}
    //video::-webkit-media-controls-toggle-closed-captions-button {}
  }

  #media_control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    background-color: $jp-color-base1;
  }

  .progressBar {
    background-color: $jp-color-base1;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    #progress,
    #duration {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 50px;
      font-size: 0.76rem;
      font-weight: 600;
      color: $jp-color-dark-gray;
    }
    #progress_slider {
      @include primaryMaskedBg(0.4);
      width: calc(100% - 100px);
      height: 4px;
      border: none;
      transition: 0.2s;
      cursor: pointer;
    }
    .ui-slider-handle.ui-corner-all.ui-state-default {
      outline: none;
      width: 0px;
      height: 0px;
      background: none;
      background-color: $jp-color-base4;
      border: none;
      border-radius: 6px;
      top: 1px;
      margin-left: 0;
      transition: 0.2s;
    }
    .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
      background: none;
      @include primaryMaskedBg(0.9);
    }
    &:hover {
      #progress_slider {
        height: 10px;
      }
      .ui-slider-handle.ui-corner-all.ui-state-default {
        width: 12px;
        height: 12px;
        top: -1px;
        margin-left: -6px;
      }
    }
  }
  .actions {
    margin: 0;
  }
  .actions.primary {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    width: calc((100% - 90px) * 0.5);
    height: 30px;
  }
  .actions.sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: calc((100% - 90px) * 0.5);
    height: 30px;
  }
  #bitrate_menu {
    margin-left: 15px;
    margin-right: 15px;
    width: 90px;
    font-size: 12px;
    display: block;
  }

  .volume {
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    #volume_slider {
      @include primaryMaskedBg(0.4);
      width: 90px;
      height: 4px;
      border: none;
      transition: 0.2s;
      cursor: pointer;
    }

    .ui-slider-handle.ui-corner-all.ui-state-default {
      outline: none;
      width: 0px;
      height: 0px;
      background: none;
      background-color: $jp-color-base4;
      border: none;
      border-radius: 6px;
      top: 1px;
      margin-left: 0;
      transition: 0.2s;
    }
    .ui-slider .ui-slider-handle {
      top: 0;
    }

    .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
      background: none;
      @include primaryMaskedBg(0.9);
    }
    .ui-slider-handle:focus {
      outline: none;
    }
    &:hover {
      #volume_slider {
        height: 10px;
      }
      .ui-slider .ui-slider-handle {
        width: 12px;
        height: 12px;
        top: -1px;
        margin-left: -6px;
      }
    }
  }

  #audio_off,
  #full-screen,
  #pip {
    display: none;
  }
}
