
// ## FONT ########################################################################

$jp-font-family: 'Kazesawa-Regular', YuGothicM, YuGothic, Meiryo, sans-serif;

// ## COLOR #######################################################################

$jp-color-white:                #ffffff;
$jp-color-light-gray:           #E6E6E8;
$jp-color-medium-gray:          #a9a9af;
$jp-color-dark-gray:            #706E75;
$jp-color-black:                #4F4F55;

$jp-color-base1:                #eaf4ff;
$jp-color-base2:                #A1C7FB; // primary color
$jp-color-base3:                #79a2d4;
$jp-color-base4:                #006699;

$jp-color-complementary1:       #FFE2D1; // double split complementary
$jp-color-complementary2:       #FFF7D1; // double split complementary
$jp-color-complementary3:       #ffa103;

$jp-color-alert:                #ff4500;

$jp-color-mask-light-gray:      rgba($jp-color-medium-gray, 0.1);
$jp-color-mask-gray:            rgba($jp-color-dark-gray, 0.5);

// ## BORDER ######################################################################

$jp-border-width:               1px;
$jp-outline-width:              2px;

// ## RADIUS ######################################################################

$jp-border-radius:              8px;
$jp-border-input-radius:        10px;

// ## SHADOW ######################################################################

$jp-shadow-offset:              2px;

// ## FONTS #######################################################################

@font-face {
  font-family: "Kazesawa-Regular";
  src: /* url("../fonts/Kazesawa-Regular.woff"), */ url("../fonts/Kazesawa-Regular.ttf");
}
