/*
 This file is part of Jpsonic.

 Jpsonic is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Jpsonic is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Jpsonic.  If not, see <http://www.gnu.org/licenses/>.

 Copyright 2020 (C) tesshu.com
 */

//
// CSS styleshet for the "Jpsonic" theme.
//
// [Constitution]
// Definitions are based on Airsonic default theme.
// Since there are many modifications,
// it is divided into several scss files based on the original CSS.
//
// jpsonic.scss (this file)
//     ├ _jpsonic_definitions.scss   : Common definitions such as colors.
//     └ jpsonic
//           ├ _jp-reset.scss        : Based upon 'A modern CSS reset'.
//           ├ _jp-functions.scss    : Common functions such as borders and effects.
//           ├ _jp-default.scss      : CSS to overwrite legacy styles.                 [DEPRECATED] Legacy CSS styles.
//           ├ _default.scss         : Based on default-without-mediaelement.css.      [DEPRECATED] Legacy CSS styles.
//           ├ _jp-v109.3.0          : CSS for reorganizing the legacy style. This layer does not contain class definitions.
//           ├ _jukebox.scss         : Based on default-without-mediaelement.css.      [RESERVED] Reuse legacy CSS with the same format.
//           ├ _zoom.scss            : Based on default-without-mediaelement.css.      [RESERVED] Reuse legacy CSS with the same format.
//           ├ _tooltip.scss         : Based on default-without-mediaelement.css.      [RESERVED] Reuse legacy CSS with the same format.
//           ├ _mediaelement.scss    : Based on mediaelement-light.css.                [RESERVED] Reuse legacy CSS with the same format.
//           └ pages
//                 ├ _global.scss    : Class definition commonly used in multiple Web pages (JSP). Template classes.
//                 └ *.scss          : CSS unique to each page. It corresponds to the web page (JSP).
//
// Since there are dependencies, the order of reading is fixed.

// ## FONT-FAMILY #################################################################

$jp-font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans JP", YuGothicM, YuGothic, Meiryo, sans-serif;
$jp-font-size: 14px;
$jp-font-absolute-small: 11px;

html {
  font-family: $jp-font-family;
  font-size: $jp-font-size;
}

// ################################################################################

// Read common definitions.
@import "./jpsonic_definitions";
@import "./jpsonic/jp-reset.scss";
@import "./jpsonic/jp-functions";

// #################### Deplecated >>

// Derived from ''default-without-mediaelement' of Legacy theme CSS..
@import "./jpsonic/default";

// Until v109.2.0
// Created to significantly change the legacy display.
@import "./jpsonic/jp-default";

// #################### Deplecated <<

// From v109.3.0
// Compatibility with legacy will be discarded and CSS will be reorganized.
// Classes that are strongly related to the page are stored in the definition file for each page.
// 'global' is a commonly used class.
@import "./jpsonic/_jp-v109.3.0";
@import "./jpsonic/pages/_global";
@import "./jpsonic/pages/_login";
@import "./jpsonic/pages/_index";
@import "./jpsonic/pages/_top";
@import "./jpsonic/pages/_playQueue";
@import "./jpsonic/pages/_home";
@import "./jpsonic/pages/_albumMain";

@import "./jpsonic/pages/_musicFolderSettings.scss";
@import "./jpsonic/pages/_generalSettings";
@import "./jpsonic/pages/_personalSettings";
@import "./jpsonic/pages/_shareSettings";
@import "./jpsonic/pages/_dlnaSettings";
@import "./jpsonic/pages/_transcodingSettings";
@import "./jpsonic/pages/_uploadEntry";

// CSS for 3rd party.
// Each file may contain minor fixes for Jpsonic.
@import "./jpsonic/jukebox";
@import "./jpsonic/zoom";
@import "./jpsonic/tooltip";
@import "./jpsonic/mediaelement";
