/*
 This file is part of Jpsonic.

 Jpsonic is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Jpsonic is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Jpsonic.  If not, see <http://www.gnu.org/licenses/>.

 Copyright 2020 (C) tesshu.com
 */

//
// CSS styleshet for the "Jpsonic" theme.
//
// [Constitution]
// Definitions are based on Airsonic default theme.
// Since there are many modifications,
// it is divided into several scss files based on the original CSS.
// 
// jpsonic.scss (this file)
//     ├ _jpsonic_definitions.scss   : Common definitions such as colors.
//     └ jpsonic
//           ├ _jp-functions.scss    : Common functions such as borders and effects.
//           ├ _jp-default.scss      : CSS to overwrite legacy styles.
//           ├ _default.scss         : Based on default-without-mediaelement.css.
//           ├ _jukebox.scss         : Based on default-without-mediaelement.css.
//           ├ _zoom.scss            : Based on default-without-mediaelement.css.
//           ├ _tooltip.scss         : Based on default-without-mediaelement.css.
//           └ _mediaelement.scss    : Based on mediaelement-light.css.
//
// Since there are dependencies, the order of reading is fixed.

// Load compass. Valid, but not yet released.
//@import 'compass/reset';

// ## FONT-FAMILY #################################################################

$jp-font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans JP", YuGothicM, YuGothic, Meiryo, sans-serif;

html {
  font-family: $jp-font-family;
  font-size: 14px;
}

// ################################################################################

// Read common definitions.
@import './jpsonic_definitions';

// Read common functions.
@import './jpsonic/jp-functions.scss';

// Read the definition file corresponding to default-without-mediaelement.
// Each file may contain minor fixes for Jpsonic.
@import './jpsonic/default';

// Minor modifications are done in _default.scss.
// jp-default is a special CSS for changing the display greatly.
// The description is a bit esoteric to minimize changes to the jsp.
// There are many layout-related specifications,
// and eventually it is desired to develop into a grid layout.
@import './jpsonic/jp-default.scss';

// Read the definition file corresponding to default-without-mediaelement.
// Each file may contain minor fixes for Jpsonic.
@import './jpsonic/jukebox';
@import './jpsonic/zoom';
@import './jpsonic/tooltip';

// Read the definition file corresponding to mediaelement-light.
@import './jpsonic/mediaelement';
