/*
 This file is part of Jpsonic.

 Jpsonic is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Jpsonic is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Jpsonic.  If not, see <http://www.gnu.org/licenses/>.

 Copyright 2020 (C) tesshu.com
 */

// ## FONT-FACE ###################################################################

@font-face {
  font-family: "Kazesawa-Regular";
  src: url("../jpsonic/fonts/kazesawa/Kazesawa-Regular.woff") format("woff"), url("../jpsonic/fonts/kazesawa/Kazesawa-Regular.ttf") format("truetype");
}

// ## FONT-FAMILY #################################################################

$jp-font-family: "Kazesawa-Regular", -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans JP", YuGothicM, YuGothic, Meiryo, sans-serif;
$jp-font-size: 16px;
$jp-font-absolute-small: 11px;

html {
  font-family: $jp-font-family;
  font-size: $jp-font-size;
}

@import "./jpsonic/definitions/jpsonic";
@import "./jpsonic/definitions/jp-reset";
@import "./jpsonic/definitions/jp-functions";
@import "./jpsonic/definitions/jp-icons";
@import "./jpsonic/definitions/_jp-v109.3.0";
@import "./jpsonic/pages/_all";
