// ## COLOR #######################################################################

$jp-color-white: #ffffff;
$jp-color-light-gray: #dddddd;
$jp-color-medium-gray: #a9a9af;
$jp-color-dark-gray: #706e75;
$jp-color-black: #4f4f55;

$jp-color-base1: #b5c7d3;
$jp-color-base2: #658dc6;
$jp-color-base3: #0f4c81;
$jp-color-base4: #84898c;

$jp-color-complementary1: #a58d7f;
$jp-color-complementary2: #f3d5ad;
$jp-color-complementary3: #f5b895;

$jp-color-alert: #ff4500;

$jp-color-mask-light-gray: rgba($jp-color-medium-gray, 0.1);
$jp-color-mask-gray: rgba($jp-color-dark-gray, 0.45);

$jp-color-now-playing: #ff7bd9;

// ## BORDER ######################################################################

$jp-border-width: 1px;
$jp-outline-width: 2px;

// ## RADIUS ######################################################################

$jp-border-radius: 8px;
$jp-border-input-radius: 10px;

// ## SHADOW ######################################################################

$jp-shadow-offset: 2px;

// ## LAYOUT ######################################################################

$jp-drawer-width: 240px;
$jp-right-width: 240px;
$jp-header-height: 60px;
$jp-player-height: 60px;

$jp-layer-0: 0;
$jp-layer-1: 1;
$jp-layer-2: 2;
$jp-layer-3: 3;
$jp-layer-4: 4;
$jp-layer-5: 5;

// If the display width falls below this value, some elements will be simplified.
$jp-supplement-width-threshold: 1366px;

// WIP
$jp-subsection-indent: 20px;
$jp-main-full-width: calc(100% - 60px);
$album-page-cover-art-size: 340px;
