// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2019-palette-exploration

$jp-color-base1: #f1d2da;
$jp-color-base2: #ff6f61;
$jp-color-base3: #ea6676;
$jp-color-base4: #9d446e;

$jp-color-complementary1: #e6d2bd;
$jp-color-complementary2: #e6d2bd;
$jp-color-complementary3: #81d8d7;

$jp-color-alert: #7e392f;

$jp-color-now-playing: #194b46;
