// ## COLOR #######################################################################

$jp-color-white: #4f4f55;
$jp-color-light-gray: #706e75;
$jp-color-medium-gray: #a9a9af;
$jp-color-dark-gray: #dddddd;
$jp-color-black: #ffffff;

$jp-color-base1: #7a7a7a;
$jp-color-base2: #ababab;
$jp-color-base3: #dcdcdc;
$jp-color-base4: #f9f9f9;

$jp-color-complementary1: #ffe2d1;
$jp-color-complementary2: #7a7a7a;
$jp-color-complementary3: #ffa103;

$jp-color-alert: #ef9896;
