// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2013

$jp-color-base1: #e6fff9;
$jp-color-base2: #00cb9b;
$jp-color-base3: #009874;
$jp-color-base4: #527069;

$jp-color-complementary1: #d9d1cf;
$jp-color-complementary2: #d8d5cc;
$jp-color-complementary3: #ff7fc6;

$jp-color-alert: #982800;

$jp-color-now-playing: #3a97a3;
