// ## COLOR #######################################################################

$jp-color-base1: #e6e6e6;
$jp-color-base2: #ababab;
$jp-color-base3: #7a7a7a;
$jp-color-base4: #006699;

$jp-color-complementary1: #ffe2d1;
$jp-color-complementary2: #fff7d1;
$jp-color-complementary3: #ffa103;
