// ## COLOR #######################################################################
//https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2017

$jp-color-base1: #c8d3cc;
$jp-color-base2: #85b14d;
$jp-color-base3: #476b32;
$jp-color-base4: #5e5d68;
$jp-color-complementary1: #d6cbd3;
$jp-color-complementary2: #d5e1df;
$jp-color-complementary3: #c498fe;
$jp-color-alert: #d74580;
$jp-color-now-playing: #f3792e;
