// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2011

$jp-color-base1: #f7d4de;
$jp-color-base2: #eb92ab;
$jp-color-base3: #e26085;
$jp-color-base4: #dc4362;
$jp-color-complementary1: #e5f6fa;
$jp-color-complementary2: #e5fae9;
$jp-color-complementary3: #60c6a1;
$jp-color-alert: #9091a0;
$jp-color-now-playing: #8b8b8b;
