// ## COLOR #######################################################################
// https://www.pantone.com/articles/past-colors-of-the-year/color-of-the-year-2021

$jp-color-base1: #e6e6e6;
$jp-color-base2: #f5df4e;
$jp-color-base3: #cec486;
$jp-color-base4: #83846f;
$jp-color-complementary1: #dec7da;
$jp-color-complementary2: #eeeff5;
$jp-color-complementary3: #bbe9ff;

$jp-color-alert: #7e4a53;
$jp-color-now-playing: #bd5c3f;
