// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2016-color-standards

$jp-color-base1: #e7e7f2;
$jp-color-base2: #8d8fc1;
$jp-color-base3: #5b5ea6;
$jp-color-base4: #3f4275;

$jp-color-complementary1: #f7f2f7;
$jp-color-complementary2: #f2f7f7;
$jp-color-complementary3: #9e9a60;

$jp-color-alert: #a65b5e;

$jp-color-now-playing: #5ea65b;
