// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2015-why

$jp-color-white: #ffffff;
$jp-color-light-gray: #dddddd;
$jp-color-medium-gray: #a2a6af;
$jp-color-dark-gray: #6e7480;
$jp-color-black: #41444c;
$jp-color-base1: #d5ced2;
$jp-color-base2: #c47a46;
$jp-color-base3: #944f4d;
$jp-color-base4: #7e5e27;
$jp-color-complementary1: #dab1af;
$jp-color-complementary2: #dad596;
$jp-color-complementary3: #5ea9d3;
