// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2016-color-standards

$jp-color-base1: #fbf2dc;
$jp-color-base2: #edc360;
$jp-color-base3: #e5a81a;
$jp-color-base4: #1c4950;
$jp-color-complementary1: #f8ecec;
$jp-color-complementary2: #d9e6e2;
$jp-color-complementary3: #9fd9fe;
$jp-color-alert: #72b3e9;
$jp-color-now-playing: #7de6f7;
