// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2014-color-standards

$jp-color-white: #ffffff;
$jp-color-light-gray: #dddddd;
$jp-color-medium-gray: #a2a6af;
$jp-color-dark-gray: #6e7480;
$jp-color-black: #41444c;
$jp-color-base1: #f4eaf2;
$jp-color-base2: #d2a6ca;
$jp-color-base3: #b163a3;
$jp-color-base4: #af2d9a;
$jp-color-complementary1: #dfe3c9;
$jp-color-complementary2: #d9e9eb;
$jp-color-complementary3: #99ca9c;
