// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2007

$jp-color-base1: #eee9ea;
$jp-color-base2: #c2223c;
$jp-color-base3: #9b1b30;
$jp-color-base4: #7c1626;

$jp-color-complementary1: #f7f2f7;
$jp-color-complementary2: #e8f5fb;
$jp-color-complementary3: #5ea65b;

$jp-color-alert: #9b1b70;

$jp-color-now-playing: #067e3d;
