// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2020-palette-exploration

$jp-color-base1: #e8edf3;
$jp-color-base2: #658dc6;
$jp-color-base3: #0f4c81;
$jp-color-base4: #414151;
$jp-color-complementary1: #f6debe;
$jp-color-complementary2: #f6debe;
$jp-color-complementary3: #ad978b;
$jp-color-alert: #990011;
$jp-color-now-playing: #f26b5b;
