// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2016-color-standards

$jp-color-base1: #f0eee9;
$jp-color-base2: #ef9896;
$jp-color-base3: #ae859a;
$jp-color-base4: #e86562;

$jp-color-complementary1: #f0eee9;
$jp-color-complementary2: #d0e4df;
$jp-color-complementary3: #8fd8d2;

$jp-color-alert: #9d4e69;

$jp-color-now-playing: #e89588;
