// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2016-color-standards

$jp-color-base1: #f0eee9;
$jp-color-base2: #94a6cf;
$jp-color-base3: #616b85;
$jp-color-base4: #54507c;
$jp-color-complementary1: #f8d8ca;
$jp-color-complementary2: #e2eca7;
$jp-color-complementary3: #c3ac7f;
$jp-color-alert: #9d4e69;
$jp-color-now-playing: #e89588;
