// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2012

$jp-color-base1: #fbe7e4;
$jp-color-base2: #ed8a81;
$jp-color-base3: #e2492f;
$jp-color-base4: #912e25;
$jp-color-complementary1: #fbe4ed;
$jp-color-complementary2: #e4fbf1;
$jp-color-complementary3: #48bebc;
$jp-color-alert: #e2397e;
$jp-color-now-playing: #39d2e2;
