// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2018-tools-for-designers

$jp-color-base1: #feffdc;
$jp-color-base2: #80e5d7;
$jp-color-base3: #25b7a2;
$jp-color-base4: #1c8d7c;

$jp-color-complementary1: #fee7da;
$jp-color-complementary2: #fee7da;
$jp-color-complementary3: #ffc5e0;

$jp-color-alert: #279fc5;

$jp-color-now-playing: #05a7e9;
