// ## COLOR #######################################################################
// https://www.pantone.com/color-of-the-year-2022

$jp-color-white: #ffffff;
$jp-color-light-gray: #dbd3cf;
$jp-color-medium-gray: #aea392;
$jp-color-dark-gray: #7d6461;
$jp-color-black: #29282d;
$jp-color-base1: #e0e0ee;
$jp-color-base2: #a4a4cd;
$jp-color-base3: #6868ac;	
$jp-color-base4: #484878;
$jp-color-complementary1: #e6b1a9;
$jp-color-complementary2: #f3dba9;
$jp-color-complementary3: #b6b182;

$jp-color-alert: #d65079;
$jp-color-now-playing: #e9435e;



