// ## COLOR #######################################################################
// https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2018-tools-for-designers

$jp-color-base1: #dcd2df;
$jp-color-base2: #a289a9;
$jp-color-base3: #898dc5;
$jp-color-base4: #6e5896;
$jp-color-complementary1: #e7dbce;
$jp-color-complementary2: #eedacf;
$jp-color-complementary3: #819d75;
$jp-color-alert: #d43d62;
$jp-color-now-playing: #ef7a31;
