// ## COLOR #######################################################################
// https://www.pantone.com/color-of-the-year-2023

$jp-color-light-gray: #d5d0d2;
$jp-color-medium-gray: #8f8b8d;
$jp-color-dark-gray: #676465;
$jp-color-base1: #efedee;
$jp-color-base2: #bb2626;
$jp-color-base3: #c3ac82;
$jp-color-base4: #bb2626;
$jp-color-complementary1: #e0e8dd;
$jp-color-complementary2: #c1d1bc;
$jp-color-complementary3: #a3ba9b;
$jp-color-alert: #668c59;
$jp-color-now-playing: #f2adb1;
$jp-color-tmp1: #bb2626;
$jp-color-tmp2: #c3ac82;
$jp-color-tmp3: #f2adb1;
$jp-color-tmp4: #668c59;
$jp-color-tmp5: #8f8b8d;
